@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #007a7a;
$warning: #fea02f;

$navbar-height: 3.5rem;
$navbar-item-img-max-height: 2.5rem;

// Setup Custom Colors
$very-easy: #c9e265;
$very-easy-invert: findColorInvert($very-easy);
$easy: #008037;
$easy-invert: findColorInvert($easy);
$mild: #ffde59;
$mild-invert: findColorInvert($mild);
$moderate: #ffbd59;
$moderate-invert: findColorInvert($moderate);
$upper-moderate: #ff914d;
$upper-moderate-invert: findColorInvert($upper-moderate);
$difficult: #d81919;
$difficult-invert: findColorInvert($difficult);
$very-difficult: #6b0808;
$very-difficult-invert: findColorInvert($very-difficult);

// Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "very-easy": (
    $very-easy,
    $very-easy-invert,
  ),
  "easy": (
    $easy,
    $easy-invert,
  ),
  "mild": (
    $mild,
    $mild-invert,
  ),
  "moderate": (
    $moderate,
    $moderate-invert,
  ),
  "upper-moderate": (
    $upper-moderate,
    $upper-moderate-invert,
  ),
  "difficult": (
    $difficult,
    $difficult-invert,
  ),
  "very-difficult": (
    $very-difficult,
    $very-difficult-invert,
  ),
);
$colors: map-merge($colors, $addColors);

@import "../../node_modules/bulma/bulma";

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

@media (max-width: $tablet) {
  .switch {
    transform: rotate(90deg);
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $warning;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -125px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext a:hover {
  color: #53a2fe;
}

.fa-sun {
  color: $warning;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

body.dark-theme {
  $text-color: #ccc;
  $background-color: #121212;
  $ref-color: #2278dc;
  $ref-color-hover: #53a2fe;

  background-color: black;
  color: $text-color;

  .title {
    color: $text-color;
  }

  .box {
    background-color: $background-color;
    color: $text-color;
  }

  textarea {
    background-color: $background-color;
    color: $text-color;
  }

  textarea::placeholder {
    color: #666;
  }

  nav {
    background-color: black;
  }

  .has-shadow {
    box-shadow: 0 2px 0 0 #555;
  }

  .navbar-item {
    color: #aaa;
  }

  .navbar-item:hover {
    background-color: black;
  }

  .navbar-menu {
    background-color: black;
  }

  footer {
    background-color: $background-color;
  }

  a {
    color: $ref-color;
  }

  a:hover {
    color: $ref-color-hover;
  }

  table {
    background-color: black;
    color: $text-color;
  }

  th,
  strong {
    color: $text-color;
  }

  tr:hover,
  th:hover {
    background-color: black !important;
    color: #fff !important;
  }

  #logo {
    filter: invert(0.9);
  }

  .tag {
    background-color: #82dcc1 !important;
    color: #1e5832 !important;
  }

  button {
    background-color: $background-color;
    color: $text-color;
  }

  .tooltip .tooltiptext {
    background-color: $background-color;
  }
}
