<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Исследуй свой текст</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/fac405c29c.js" crossorigin="anonymous"></script>
    <style>
      [v-cloak] {
        display: none;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00d1b2;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #ffdd57;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    </style>
  </head>

  <body>
    <nav class="bd-navbar navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="http://pushkin-lab.ru">
            <img src="static/logo.png">
          </a>
      
          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <a class="navbar-item" href="#about">О проекте</a>
            <a class="navbar-item" href="#publications">Публикации</a>
            <a class="navbar-item" href="#contacts">Контакты</a>
            <a class="navbar-item" href="https://www.facebook.com/textometr">Мы в Facebook</a>
          </div>
        </div>
      </div>
    </nav>

    <div v-cloak id="app">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-two-thirds">
          <section class="section">
            <article v-if="result && result.text_ok === false" class="message is-danger">
              <div class="message-body">
                [[ result.text_error_message]]
              </div>
            </article>
            <div class="level">
              <div class="level-item">
                <h5 class="title is-5 has-text-right">Русский как иностранный</h5>
              </div>
              <div class="level-item has-text-centered">
                <div class="field">
                  <div class="control">
                    <label class="switch">
                      <input type="checkbox" v-model="mode">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="level-item">
                <h5 class="title is-5 has-text-left">Русский как родной (beta)</h5>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <textarea v-model="text" class="textarea" rows="15"
                          placeholder="Вставьте текст для измерения"></textarea>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <a class="button is-primary is-rounded is-medium"
                    :class="{ 'is-loading': loading, 'is-primary': mode === false, 'is-warning': mode === true }"
                    @click="analyze">Измерить</a>
              </p>
            </div>
          </section>
  
          <section class="section" id="result" v-if="text && result && result.text_ok === true && !loading">
            <div class="level">
              <div class="level-left">
                <div class="level">
                  <h1 class="title is-1">Результат</h1>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <button @click="download" class="button is-small">Скачать</button>
                </div>
              </div>
            </div>
            <table class="table is-striped is-hoverable is-fullwidth">
              <tbody>
                <tr v-if="result.level_number">
                    <th>Уровень текста</th>
                    <td>
                      <progress class="progress"
                                :class="progressClass"
                                :value="result.level_number"
                                max="8">[[ result.level_number]]</progress>
                      <span>[[ result.level_comment ]]</span>
                    </td>
                </tr>
                <tr v-if="result.sentences">
                    <th>Предложений в тексте</th>
                    <td>[[ result.sentences ]]</td>
                </tr>
                <tr v-if="result.words">
                    <th>Слов в тексте</th>
                    <td>[[ result.words ]]</td>
                </tr>
                <tr v-if="result.characters">
                    <th>Знаков</th>
                    <td>[[ result.characters]]</td>
                </tr>
                <tr v-if="result.key_words && result.key_words.length > 0">
                    <th>Ключевые слова</th>
                    <td>
                      <template v-for="key_word in result.key_words">
                        [[ key_word ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.gram_complex">
                    <th>Возможные грамматические темы</th>
                    <td>
                      <template v-for="gram in result.gram_complex">
                        [[ gram ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.reading_for_detail_speed">
                    <th>Изучающее чтение текста должно занять</th>
                    <td>[[ result.reading_for_detail_speed ]] мин</td>
                </tr>
                <tr v-if="result.skim_reading_speed">
                    <th>Просмотровое чтение текста должно занять</th>
                    <td>[[ result.skim_reading_speed ]] мин</td>
                </tr>
                <tr v-if="result.too_long_sentence && result.too_long_sentence.length > 0">
                    <th>Слишком длинные предложения, лучше разбить на несколько</th>
                    <td>
                      <template v-for="too_long_sentence in result.too_long_sentence">
                        [[ too_long_sentence ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.cool_words && result.cool_words.length > 0">
                    <th>Самые полезные слова</th>
                    <td>
                      <template v-for="cool_word in result.cool_words">
                        [[ cool_word ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.new_and_frequent && result.new_and_frequent.length > 0">
                    <th>Новые и частотные слова (стоит объяснить в первую очередь)</th>
                    <td>[[ result.cnew_and_frequent ]]</td>
                </tr>
                <tr v-if="result.cool_but_not_in_slovnik && result.cool_but_not_in_slovnik.length > 0">
                    <th>Нет в словнике, есть в списках Келли</th>
                    <td>[[ result.cool_but_not_in_slovnik ]]</td>
                </tr>
                <tr v-if="result.rare_words && result.rare_words.length > 0">
                    <th>Редкие слова (возможно, стоит заменить на синоним)</th>
                    <td>
                      <template v-for="rare_word in result.rare_words">
                        [[ rare_word ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.names_and_geo && result.names_and_geo.length > 0">
                    <th>Имена собственные</th>
                    <td>
                      <template v-for="name_and_geo in result.names_and_geo">
                        [[ name_and_geo ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.bastards && result.bastards.length > 0">
                    <th>Этих слов нет в словаре, может, опечатка?</th>
                    <td>
                      <template v-for="bastard in result.bastards">
                        [[ bastard ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.inA1">
                    <th>Лексический минимум А1 покрывает</th>
                    <td>[[ result.inA1 ]]% текста</td>
                </tr>
                <tr v-if="result.not_inA1">
                    <th>Не входит в лексический минимум А1</th>
                    <td>
                      <template v-for="not_inA1 in result.not_inA1">
                        [[ not_inA1 ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.inA2">
                    <th>Лексический минимум А2 покрывает</th>
                    <td>[[ result.inA2 ]]% текста</td>
                </tr>
                <tr v-if="result.not_inA2">
                    <th>Не входит в лексический минимум А2</th>
                    <td>
                      <template v-for="not_inA2 in result.not_inA2">
                        [[ not_inA2 ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.inB1">
                    <th>Лексический минимум B1 покрывает</th>
                    <td>[[ result.inB1 ]]% текста</td>
                </tr>
                <tr v-if="result.not_inB1">
                    <th>Не входит в лексический минимум B1</th>
                    <td>
                      <template v-for="not_inB1 in result.not_inB1">
                        [[ not_inB1 ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.inB2">
                    <th>Лексический минимум B2 покрывает</th>
                    <td>[[ result.inB2 ]]% текста</td>
                </tr>
                <tr v-if="result.not_inB2">
                    <th>Не входит в лексический минимум B2</th>
                    <td>
                      <template v-for="not_inB2 in result.not_inB2">
                        [[ not_inB2 ]]<br>
                      </template>
                    </td>
                </tr>
                <tr v-if="result.inC1">
                    <th>Лексический минимум C1 покрывает</th>
                    <td>[[ result.inC1 ]]% текста</td>
                </tr>
                <tr v-if="result.not_inC1">
                    <th>Не входит в лексический минимум C1</th>
                    <td>
                      <template v-for="not_inC1 in result.not_inC1">
                        [[ not_inC1 ]]<br>
                      </template>
                    </td>
                </tr>
              </tbody>
            </table>
          </section>
        
          <section class="section" id="about">
            <div class="container">
              <h1 class="title is-1 is-spaced">О проекте</h1>
              <div class="content">
                <p>
                  Текстометр позволяет быстро получить информацию о тексте,
                  актуальную для его подготовки к уроку русского языка:
                  уровень сложности текста, ключевые слова, самые полезные слова,
                  статистика по вхождению слов в лексические минимумы. 
                </p>
                <p>
                  Подробнее о том, как получаются эти данные.
                </p>
              </div>
              <h5 class="title is-5">Определение уровня</h5>
              <div class="content">
                <p>
                  Определение уровня по шкале SEFR от А1 до С2 происходит автоматически,
                  с помощью регрессионной модели, обученной на корпусе из 700 текстов из
                  пособий по рки. Подробнее о параметрах модели и признаках, на которых
                  она обучалась, можно почитать здесь.
                </p>
                <p>
                  Может ли она ошибаться? Эксперименты показывают, что модель склонна
                  немного завышать уровень сложности текста, поскольку она производит
                  расчеты исходя из данных лексических минимумов. Практика же показывает,
                  что студенты обычно знают (или угадывают из контекста) больше слов,
                  чем в минимумах. Особенно это касается интернационализмов и слов с
                  латинскими корнями. Это стоит учитывать при подготовке текстов для
                  славяно- или англоговорящих учеников. Подробнее об эксперименте со
                  сравнением работы программы, мнения экспертов-преподавателей и самих
                  студентов можно почитать здесь.
                </p>
              </div>
              <h5 class="title is-5">Ключевые слова</h5>
              <div class="content">
                <p>
                  Ключевые слова текста — это слова, наиболее характерные для этого текста.
                  Они высчитываются с помощью рейтинга: количество раз, которое слово
                  встречается в этом тексте / частота слова по Национальному корпусу русского языка (мера TF/IDF).
                  Выигрывают слова, которые часто встречаются в данном тексте,
                  но редко — во всех других текстах корпуса, то есть максимально характерные
                  именно для этого текста. Например, если вы проверяете медицинскую статью,
                  в которой слово “резус-фактор” встретилось 3 раза, а “положительный” — 7 раз,
                  алгоритм выберет ключевым “резус-фактор”, поскольку редко встречается в корпусе,
                  в отличие от более частотного слова “положительный”.
                </p>
              </div>
              <h5 class="title is-5">Возможные грамматические темы</h5>
              <div class="content">
                <p>
                  Алгоритм подсчитывает количество частей речи и грамматических форм и
                  предлагает темы, на которые в тексте можно найти
                  наибольшее количество примеров.
                </p>
              </div>
              <h5 class="title is-5">Самые полезные слова</h5>
              <div class="content">
                <p>
                  Это слова — кандидаты в словарик по данному тексту. Слова, которые,
                  скорее всего, ещё не знакомы студентам (их нет в лексических минимумах
                  предыдущих уровней), но есть в минимуме данного уровня или в списке 3000
                  самых частотных слов русского языка по НКРЯ.
                </p>
              </div>
            </div>
          </section>
      
          <section class="section" id="publications">
            <div class="container">
              <h1 class="title is-1 is-spaced">Публикации</h1>
              <div class="content">
                <p>
                  При ссылке на ресурс мы рекомендуем цитировать данную работу:
                </p>
                <p>
                  <a href="https://www.researchgate.net/publication/325568093_Automated_Text_Readability_Assessment_For_Russian_Second_Language_Learners">
                    Laposhina А. N., Veselovskaya Т. S., Lebedeva M. U., Kupreshchenko O. F. Automated Text
                    Readability Assessment For Russian Second Language Learners // Komp'juternaja Lingvistika i
                    Intellektual'nye Tehnologii Сер. "Computational Linguistics and Intellectual Technologies:
                    Proceedings of the International Conference "Dialogue 2018". Issue 17 (24), 2018
                  </a>
                </p>
                <p>
                  Ещё публикации о программе:
                </p>
                <p>
                  <a href="https://www.researchgate.net/publication/346084779_AVTOMATICESKOE_OPREDELENIE_SLOZNOSTI_TEKSTA_PO_RKI">
                    Лапошина А.Н. Автоматическое определение сложности текста по РКИ // Сборник материалов
                    международной научно-практической интернет-конференции «Актуальные вопросы описания
                    и преподавания русского языка как иностранного/неродного»: сб. статей /науч. ред.
                    Н.В. Кулибина. М.: 2018. С. 573-579
                  </a>
                </p>
                <p>
                  <a href="https://www.researchgate.net/publication/346084691_OPYT_EKSPERIMENTALNOGO_ISSLEDOVANIA_SLOZNOSTI_TEKSTOV_PO_RKI">
                    Лапошина А.Н. Опыт экспериментального исследования сложности текстов по РКИ // Динамика языковых
                    и культурных процессов в современной России [Электронный ресурс].  —  Вып.  6.  Материалы 
                    VI  Конгресса РОПРЯЛ (г. Уфа, 11–14 октября 2018 года). — СПб.: РОПРЯЛ, 2018. С. 1154-1179
                  </a>
                </p>
              </div>
            </div>
          </section>
      
          <section class="section" id="contacts">
            <div class="container">
              <h1 class="title is-1 is-spaced">Контакты</h1>
              <div class="content">
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-128x128">
                        <img src="static/tonya.png">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          Куратор проекта — <a href="https://www.pushkin.institute/sveden/employees/detail.php?ELEMENT_ID=15425">Антонина Лапошина</a>
                        </p>
                        <p>
                          Если у вас возник вопрос, вы нашли ошибку или считаете, что не хватает
                          какой-то функции, обязательно напишите мне, с пометкой "Текстометр".
                          Мы очень любим и ценим обратную связь!
                        </p>
                        <div class="level">
                          <div class="level-left">
                            <div class="level-item">
                              <a href="mailto:antonina.laposhina@gmail.com">
                                <span class="icon is-small">
                                  <i class="far fa-envelope" aria-hidden="true"></i>
                                </span>
                                antonina.laposhina@gmail.com
                              </a>
                            </div>
                          </div>
                          <div class="level-right">
                            <div class="level-item">
                              <a href="https://www.facebook.com/antonina.laposhina">
                                <span class="icon is-small">
                                  <i class="fab fa-facebook" aria-hidden="true"></i>
                                </span>
                                https://www.facebook.com/antonina.laposhina
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="column"></div>
      </div>
  
      <footer class="footer">
        <div class="content has-text-centered">
          <p>Лаборатория Института Пушкина</p>
        </div>
      </footer>
    </div>

    <script>   
        const TEXT_FEATURES = {
          level_number: 'Уровень текста',
          sentences: 'Предложений в тексте',
          words: 'Слов в тексте',
          characters: 'Знаков',
          key_words: 'Ключевые слова',
          gram_complex: 'Возможные грамматические темы',
          reading_for_detail_speed: 'Изучающее чтение текста должно занять',
          skim_reading_speed: 'Просмотровое чтение текста должно занять',
          too_long_sentence: 'Слишком длинные предложения, лучше разбить на несколько',
          cool_words: 'Самые полезные слова',
          new_and_frequent: 'Новые и частотные слова (стоит объяснить в первую очередь)',
          cool_but_not_in_slovnik: 'Нет в словнике, есть в списках Келли',
          rare_words: 'Редкие слова (возможно, стоит заменить на синоним)',
          names_and_geo: 'Имена собственные',
          bastards: 'Этих слов нет в словаре, может, опечатка?',
          inA1: 'Лексический минимум А1 покрывает',
          not_inA1: 'Не входит в лексический минимум А1',
          inA2: 'Лексический минимум А2 покрывает',
          not_inA2: 'Не входит в лексический минимум А2',
          inB1: 'Лексический минимум B1 покрывает',
          not_inB1: 'Не входит в лексический минимум B1',
          inB2: 'Лексический минимум B2 покрывает',
          not_inB2: 'Не входит в лексический минимум B2',
          inC1: 'Лексический минимум C1 покрывает',
          not_inC1: 'Не входит в лексический минимум C1'
        }

        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
            loading: false,
            mode: false,
            text: '',
            result: null
          },
          computed: {
            progressClass() {
              if (this.result.level_number < 2) {
                return 'is-primary'
              }
              if (this.result.level_number >= 2 && this.result.level_number < 4.4) {
                return 'is-warning'
              }
              if (this.result.level_number >= 4.4 && this.result.level_number < 5.9) {
                return 'is-warning'
              }
              if (this.result.level_number >= 5.9 && this.result.level_number < 8) {
                return 'is-danger'
              }
              if (this.result.level_number >= 8) {
                return ''
              }
            }
          },
          methods: {
            analyze: function () {
              app.result = null
              app.loading = true
              axios.post('/analyze', { text: app.text, mode: app.mode ? 'native' : 'foreign' })
                .then(function (response) {
                  app.result = response.data.result
                  if (app.result.text_ok) {
                  setTimeout(() => {
                    document.querySelector('#result').scrollIntoView({ behavior: 'smooth' })
                  }, 0)
                  }
                })
                .catch(function (error) {
                  console.log(error)
                })
                .then(function () {
                  app.loading = false
                })
            },
            download: function() {
              let content = `${app.text}\n\n`
              for (const [key, value] of Object.entries(TEXT_FEATURES)) {
                if (
                  (Array.isArray(app.result[key]) && app.result[key].length > 0)
                  || (!Array.isArray(app.result[key]) && app.result[key])
                ) {
                  content += `*${value}*\n${app.result[key]}\n`
                }
              }
              this.downloadFile('textometr-result.txt', content)
            },
            downloadFile(filename, text) {
              var element = document.createElement('a');
              element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text))
              element.setAttribute('download', filename)

              element.style.display = 'none'
              document.body.appendChild(element)

              element.click()

              document.body.removeChild(element)
            }
          }
        })

        document.addEventListener('DOMContentLoaded', () => {
          // add smooth scroll for all anchors
          document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
              e.preventDefault()

              document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
              })
            })
          })

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)

          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target)

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active')
                $target.classList.toggle('is-active')
              })
            })
          }
        })
    </script>
</body>

</html>