<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="static/favicon.png">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css">
        .bg-main {
            background-color: #0c996a;
        }
    </style>

    <title>Исследуй свой текст</title>
</head>

<body>
    <div id="app" class="container">
        <div class="row pt-2 bg-main text-white">
            <div class="col">
                <h5 class="text-center">Исследуй свой текст</h5>
            </div>
        </div>

        <div v-if="result && result.text_ok === false" class="alert alert-danger text-center" role="alert">
            [[ result.text_error_message]]
        </div>
        <form>
            <div class="form-group p-2">
                <textarea v-model="text" class="form-control" rows="10"></textarea>
            </div>
        </form>
        <table v-if="result && result.text_ok === true" class="table-striped table-sm">
            <tbody>
                <tr v-if="result.level_number">
                    <td>Уровень текста</td>
                    <td>[[ result.level_number ]] ([[ result.level_comment ]])</td>
                </tr>
                <tr v-if="result.mean_sentence_length">
                    <td>Средняя длина предложения</td>
                    <td>[[ result.mean_sentence_length ]]</td>
                </tr>
                <tr v-if="result.norm_sentence_length">
                    <td>Норма для этого уровня</td>
                    <td>[[ result.norm_sentence_length ]]</td>
                </tr>
                <tr v-if="result.reading_for_detail_speed">
                    <td>Изучающее чтение текста должно занять</td>
                    <td>[[ result.reading_for_detail_speed ]] мин</td>
                </tr>
                <tr v-if="result.skim_reading_speed">
                    <td>Просмотровое чтение текста должно занять</td>
                    <td>[[ result.skim_reading_speed ]] мин</td>
                </tr>
                <tr v-if="result.too_long_sentence && result.too_long_sentence.length > 0">
                    <td>Слишком длинные предложения, лучше разбить на несколько</td>
                    <td>[[ result.too_long_sentence ]]</td>
                </tr>
                <tr v-if="result.new_and_frequent && result.new_and_frequent.length > 0">
                    <td>Новые частотные слова (объяснить в первую очередь)</td>
                    <td>[[ result.new_and_frequent ]]</td>
                </tr>
                <tr v-if="result.not_in_kelly && result.not_in_kelly.length > 0">
                    <td>Нет в словнике, есть в Келли</td>
                    <td>[[ result.not_in_kelly ]]</td>
                </tr>
                <tr v-if="result.no_minimum_no_frequent && result.no_minimum_no_frequent.length > 0">
                    <td>Низкочастотные слова, которых нет в минимуме
                        (возможно, стоит заменить на синоним)</td>
                    <td>[[ result.no_minimum_no_frequent ]]</td>
                </tr>
                <tr v-if="result.no_minimum_frequent && result.no_minimum_frequent.length > 0">
                    <td>Неизвестные, но достаточно частотные слова</td>
                    <td>[[ result.no_minimum_frequent ]]</td>
                </tr>
                <tr v-if="result.bastards && result.bastards.length > 0">
                    <td>Эти слова я не понял, может, опечатка?</td>
                    <td>[[ result.bastards ]]</td>
                </tr>
                <tr v-if="result.names_and_geo && result.names_and_geo.length > 0">
                    <td>Имена собственные</td>
                    <td>[[ result.names_and_geo ]]</td>
                </tr>
                <tr v-if="result.words">
                    <td>Слов в тексте</td>
                    <td>[[ result.words ]]</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <a class="btn btn-primary btn-lg m-2" href="/survey">Пройти тест по определению сложности текстов</a> 
        </div>
    </div>

    <script>
        const DELAY = 2000;

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                text: '',
                result: null,
                delayedSend: null
            },
            watch: {
                text: function() {
                    clearTimeout(app.delayedSend);
                    if (app.text) {
                        app.delayedSend = setTimeout(function() {app.analyze()}, DELAY);
                    } else {
                        app.result = null;
                    }    
                }
            },
            methods: {
                // REST API
                analyze: function() {
                    axios
                        .post('/analyze', {text: app.text})
                        .then(function(response) {
                            app.result = response.data.result    
                        });
                }
            }
        })
    </script>
</body>

</html>